<h2> Hello,fname lname! </h2>

<section>
  <p> username</p>
  <p> email </p>
  <button type="submit">Edit Information</button> <button type="submit">Delete Account</button>
</section>

<h3> Add New  Lewks</h3>
  <form action="/action_page.php">
      <input type="file" name="pic" accept="image/*">
      <input type="submit">
  </form>
<br/>
<h3> fname's Lewks</h3>
 <p> | | of images user has uploaded </p>
 <p>each image has caption showing imageID and delete button</p>
