<h2> Hello,fname! </h2>

<section>
  <p>fname
  <br>lname</p>
  <button type="submit"action="/account/edit">Edit Information</button> <button type="submit"action="/account/edit">Delete Account</button>
</section>

<% @users.each do |user| %>
    <%= user.username %>
    <%= user.name %>
    <%= user.email %>
    <% end %>




<h3> Upload a Photo</h3>
  <form action="/account">
      <input type="file" name="pic" accept="image/*">
      <input type="submit">
  </form>
<br/>
<h3> fname's Looks</h3>
 <p> | | of images user has uploaded </p>
 <p>each image has caption showing imageID and delete button</p>
