<h1>Hello Gorgeous!</h1>
<h3> If logged in "Hello, fname!"
  <br/>else "Hello, Sign in or create an account to upload your style!"</h3>

<br/>
<p> | | of all images uploaded by all usrs</p>
 <img src="<%= @picture %>" />
