<h1>Join Us!</h1>
<form action="/join" method="POST">
  <p>Please enter your information below to create an account.</p>

  <label for="username">Username:</label>
  <input type="text" placeholder="Enter Username" id="username" name="username"</input>

  <label for="name">Name:</label>
  <input type="text" placeholder="Enter Name" id="name" name="name"</input>
  <br/>
  <label for="email">Email:</label>
  <input type="text" placeholder="Enter Email" id="email" name="email"</input>

  <label for="password">Password:</label>
  <input type="text" placeholder="Enter Password" id="username" name="password""</input>
  <br/>

<button type="submit" class="signupbtn">Join</button>
</form>
